<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Falling Blocks</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="block" id="block1" style="background-color: #FF5733;">Shopping</div>
    <div class="block" id="block2" style="background-color: #28B463;">Birthday</div>
    <div class="block" id="block3" style="background-color: #F4D03F;">Meeting</div>
    <div class="block" id="block4" style="background-color: #3498DB;">Holiday</div>
    <div class="block" id="block5" style="background-color: steelblue;">Study</div>
    <div class="block" id="block6" style="background-color: deeppink;">Practice</div>
  </div>
  <div class="text-container">
    <h1>Welcome to ToDo Task</h1>
    <form action="/main" method="POST">
    <button class="btn">Let's Start !</button>
    </form>
  </div>
</body>
</html>
