body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: 100vh;
}

.heading {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 3rem;
  z-index: 10;
}

.tasks {
  width: 70%;
  padding: 10px;
  background-color: #0038a8;
  border-radius: 20px ;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: calc(100vh - 160px);
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.task {
  padding: 20px;
  background-color: #00297b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}

.checkbox {
  margin-right: 20px;
  align-self: center;
}

.task-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-content b {
  font-size: larger;
  color: #fff;
}

.task h3 {
  font-size: medium;
  color: hsl(220, 96%, 81%);
}

.task input[type="checkbox"]:checked + .task-content b {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #004b8d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #003b6f;
}

.add-task-button {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.add-task-button .button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #003b6f;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.add-task-button .button:hover {
  background-color:dodgerblue;
  color: #fff;
}
